/*Entrega pasada del final pasado a Imports via SASS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kaisei HarunoUmi', serif; }

body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

nav {
  background-color: black;
  opacity: 90%;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  nav ul {
    display: flex;
    list-style: none; }
  nav ul li {
    border-right: 1px solid gray;
    padding: 1rem; }
  nav ul li a {
    color: white;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
    text-decoration: none; }
  nav ul li:last-child {
    border-right: none; }
  nav ul li a:hover {
    background-color: white;
    color: black;
    transition: all .3s; }
  nav .logo {
    color: white;
    font-size: 2rem;
    text-decoration: line-through;
    left: 3rem; }
  nav #ckbox {
    display: none; }
  nav label {
    font-size: 2.5rem;
    color: white;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px white;
    padding: .2rem;
    border-radius: .1rem; }

@media (max-width: 1039px) {
  nav {
    justify-content: flex-start; }
  .drawer {
    display: block; }
  nav h1 {
    margin-left: 1rem; }
  ul {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: black;
    color: white;
    top: 10vh;
    left: -100%;
    text-align: left;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-content: stretch; }
  nav ul li {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-bottom: solid .1rem gray; }
  #ckbox:checked ~ .menu-box {
    left: 0; } }

footer {
  margin-top: auto; }
  footer .footer {
    background: rgba(0, 0, 0, 0.918);
    opacity: 98%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 9rem;
    bottom: 0; }
    footer .footer .footer-bottom {
      background: black;
      text-align: center;
      height: 20%; }
      footer .footer .footer-bottom p {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        font-size: 18px; }
    footer .footer .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 80%; }
      footer .footer .footer-content h3 {
        text-transform: capitalize;
        font-size: 22px; }
      footer .footer .footer-content p {
        max-width: 500px;
        font-size: 18px; }
      footer .footer .footer-content ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center; }
      footer .footer .footer-content li {
        margin-top: 1%;
        margin-right: 35%;
        font-size: 22px; }
      footer .footer .footer-content li:hover {
        transform: scale(2);
        transition: ease 0.2s; }
      footer .footer .footer-content a:hover i {
        color: #00ffe5; }
      footer .footer .footer-content a {
        text-decoration: none;
        color: white; }
      footer .footer .footer-content a i {
        transition: color .4s ease; }

.container {
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.918);
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  opacity: 95%;
  padding: 20px;
  color: white; }
  .container .row .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px; }
    .container .row .col-25 label {
      padding: 12px 12px 12px 0;
      display: inline-block;
      font-size: 1.5em;
      text-decoration: underline; }
  .container .row input[type=text], .container .row select, .container .row textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
  .container .row input[type=submit] {
    background-color: #07dd8f;
    color: white;
    padding: 12px 20px;
    margin-top: 1rem;
    margin-left: 25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 50%; }

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.turnos1 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center; }
  .turnos1 .turnos-contenido {
    background: white;
    margin-left: 20%;
    margin-top: 3%;
    width: 150%;
    padding-bottom: 1%;
    border-radius: 10px; }
    .turnos1 .turnos-contenido h1 {
      text-align-last: center;
      color: orangered;
      text-decoration: underline; }
    .turnos1 .turnos-contenido table {
      border-collapse: collapse;
      margin: 0.5% 13%;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
      .turnos1 .turnos-contenido table thead tr {
        background-color: #0a3f34;
        color: white;
        text-align: center;
        font-weight: bold; }
      .turnos1 .turnos-contenido table th, .turnos1 .turnos-contenido table td {
        padding: 20px 40px; }
      .turnos1 .turnos-contenido table tbody tr {
        border-bottom: 1px solid gray; }
      .turnos1 .turnos-contenido table tbody tr:nth-of-type(even) {
        background-color: #e2dcdc; }
      .turnos1 .turnos-contenido table tbody tr:last-of-type {
        border-bottom: 4px solid #0a3f34; }

.cont {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  padding-left: 5%;
  margin-top: 2%;
  padding-right: 5%;
  max-height: 41rem; }
  .cont .empty-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.7);
    max-height: 40%; }
    .cont .empty-card img {
      transition: ease 0.2s; }
    .cont .empty-card img:hover {
      transform: skewX(-10deg);
      border: 2px solid #33af14; }
    .cont .empty-card .comprar {
      height: 60px;
      padding: 15px;
      background-color: #07dd8f;
      color: white;
      text-decoration: none;
      font-size: 20px;
      border: 1px solid white; }

.portada-inicio {
  display: flex;
  margin-top: 1%;
  margin-left: 5%; }
  .portada-inicio .titulo h1 {
    position: relative;
    color: white;
    text-shadow: 4px 4px 4px black;
    font-size: 100px;
    text-decoration: underline; }
  .portada-inicio .titulo p {
    position: relative;
    color: white;
    text-shadow: 4px 4px 4px black;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: larger; }
  .portada-inicio .titulo a {
    height: 60px;
    padding: 15px;
    background-color: #07dd8f;
    color: white;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    border: 1px solid white; }

.container-staff {
  margin-left: 32%;
  margin-top: 1%;
  max-width: 32%; }
  .container-staff .pic:hover .text {
    height: 60%;
    color: white;
    font-size: 1.5em;
    margin-top: 20px; }
  .container-staff .pic {
    position: relative;
    width: 100%;
    overflow: hidden; }
    .container-staff .pic .text {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 100%;
      height: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.9);
      transition: height 0.7s ease-out; }
    .container-staff .pic img {
      max-width: 100%;
      max-height: 100%; }

/* Nueva Seccion de 0 via SASS */
.container__entrenamientos {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto; }
  .container__entrenamientos .ficha {
    background: linear-gradient(90deg, black 10%, #b9b9b9 50%, black 100%);
    color: black;
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem; }
    .container__entrenamientos .ficha p {
      line-height: 1em;
      font-size: 2em; }
    .container__entrenamientos .ficha img {
      width: 25rem;
      height: 12rem;
      margin-right: 3rem;
      border: 1px solid white; }
  .container__entrenamientos .ficha__2 {
    background: linear-gradient(90deg, black 0%, white 50%, black 100%);
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem; }
    .container__entrenamientos .ficha__2 p {
      line-height: 28px;
      font-size: 1.7rem;
      margin-right: 25rem; }
    .container__entrenamientos .ficha__2 img {
      width: 25rem;
      height: 12rem;
      border: 1px solid white; }
  .container__entrenamientos .text__ficha {
    margin-left: 2rem; }
    .container__entrenamientos .text__ficha ol li {
      list-style: none;
      margin-top: 1%;
      font-size: 18px; }
    .container__entrenamientos .text__ficha h2 {
      font-size: 2em;
      margin-bottom: 0.2em;
      text-decoration: underline; }
  .container__entrenamientos img:hover {
    transform: scale(1.3);
    transition: ease 0.2s; }
  .container__entrenamientos a {
    height: 60px;
    padding: 15px;
    background-color: #07dd8f;
    color: white;
    display: inline-block;
    text-decoration: none;
    position: absolute;
    right: 20px;
    bottom: -25px;
    font-size: 20px;
    border: 1px solid white; }
