@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kaisei HarunoUmi', serif; }

body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

@media (max-width: 1500px) {
  body {
    background-repeat: no-repeat;
    background-size: cover; } }

nav {
  background-color: black;
  opacity: 96%;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  nav ul {
    display: flex;
    list-style: none; }
  nav ul li {
    border-right: 1px solid gray;
    padding: 1rem; }
  nav ul li a {
    color: white;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    text-transform: uppercase;
    text-decoration: none; }
  nav ul li:last-child {
    border-right: none; }
  nav ul li a:hover {
    background-color: white;
    color: black;
    transition: all .3s; }
  nav .logo {
    color: white;
    font-size: 2rem;
    text-decoration: line-through; }
  nav #ckbox {
    display: none; }
  nav label {
    font-size: 2.5rem;
    color: white;
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px white;
    padding: .2rem;
    border-radius: .1rem; }

@media (max-width: 1039px) {
  nav {
    position: relative;
    z-index: 5;
    justify-content: flex-start; }
  .drawer {
    display: block; }
  nav h1 {
    margin-left: 1rem; }
  ul {
    position: absolute;
    width: 60%;
    height: 75vh;
    background-color: black;
    color: white;
    top: 8.5vh;
    left: -100%;
    text-align: left;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    border-right: 1px solid gray;
    border-bottom: solid 1px gray; }
  nav ul li {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    border-bottom: solid 1px gray; }
  nav ul li a {
    font-size: 1rem; }
  #ckbox:checked ~ .menu-box {
    left: 0; } }

footer {
  margin-top: auto; }
  footer .footer {
    background: black;
    opacity: 98%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 9rem;
    bottom: 0; }
    footer .footer .footer-bottom {
      background: black;
      text-align: center;
      height: 20%; }
      footer .footer .footer-bottom p {
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
        font-size: 18px; }
    footer .footer .footer-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      height: 80%; }
      footer .footer .footer-content h3 {
        text-transform: capitalize;
        font-size: 25px;
        text-decoration: line-through; }
      footer .footer .footer-content p {
        max-width: 500px;
        font-size: 15px; }
      footer .footer .footer-content ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center; }
      footer .footer .footer-content li {
        margin-top: 1%;
        margin-right: 35%;
        font-size: 22px; }
      footer .footer .footer-content li:hover {
        transform: scale(2);
        transition: ease 0.2s; }
      footer .footer .footer-content a:hover i {
        color: #00ffe5; }
      footer .footer .footer-content a {
        text-decoration: none;
        color: white; }
      footer .footer .footer-content a i {
        transition: color .4s ease; }

.container {
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.918);
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  opacity: 95%;
  padding: 20px;
  color: white; }
  .container .row .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px; }
    .container .row .col-25 label {
      padding: 12px 12px 12px 0;
      display: inline-block;
      font-size: 1.5em;
      text-decoration: underline; }
  .container .row input[type=text], .container .row select, .container .row textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; }
  .container .row input[type=submit] {
    background-color: #000000;
    color: yellow;
    padding: 12px 20px;
    margin-top: 1rem;
    margin-left: 25%;
    border: 3px solid yellow;
    border-radius: 4px;
    cursor: pointer;
    max-width: 50%; }

@media screen and (max-width: 1035px) {
  .container {
    position: relative; }
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0; } }

.contenedor__tabla {
  background-color: rgba(0, 0, 0, 0.795); }

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2%;
  font-size: 20px;
  box-shadow: 0 5px 10px black;
  background: #005b7e;
  background: linear-gradient(309deg, #005b7e 0%, black 35%, black 65%, #005b7e 100%); }
  .table td, .table th {
    padding: 12px 15px;
    border: 2px solid white;
    text-align: center; }
  .table th {
    color: #979797;
    text-decoration: wavy;
    font-size: 25px; }
  .table tbody tr:nth-child(even) {
    color: #02ff02; }
    .table tbody tr:nth-child(even) :hover {
      background-color: #02ff028c; }
  .table tbody tr:nth-child(odd) {
    color: red; }
    .table tbody tr:nth-child(odd) :hover {
      background-color: rgba(255, 0, 0, 0.418); }
  .table th:hover, .table td:hover, .table tr:hover {
    transition: 0.2s ease; }

.fondo__texto {
  transform: skewY(-5deg);
  position: relative;
  background: #005b7e;
  background: linear-gradient(309deg, #005b7e 0%, black 35%, black 65%, #005b7e 100%);
  margin-top: 8rem;
  padding: 7%;
  border-bottom: 2px solid white;
  border-top: 2px solid white; }
  .fondo__texto .contenido__texto {
    transform: skewY(5deg);
    max-width: 50rem;
    right: 20rem;
    margin: 0 auto;
    position: relative; }
    .fondo__texto .contenido__texto .rojo {
      color: red; }
    .fondo__texto .contenido__texto .verde {
      color: #02ff02; }
    .fondo__texto .contenido__texto h1 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 2%;
      text-align: center;
      font-style: italic;
      font-weight: bold;
      font-size: 3em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-shadow: -4px 3px 0 #242424, -14px 7px 0 #0a0e27; }
    .fondo__texto .contenido__texto p {
      font-size: 1.4em;
      color: white;
      font-weight: bold; }

.fondo__text {
  transform: skewY(-5deg);
  position: relative;
  background: #005b7e;
  background: linear-gradient(309deg, #005b7e 0%, black 35%, black 65%, #005b7e 100%);
  margin-bottom: 8rem;
  padding: 7%;
  border-bottom: 2px solid white;
  box-shadow: 0 5px 10px black; }
  .fondo__text .contenido__text {
    transform: skewY(5deg);
    max-width: 50rem;
    left: 20rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden; }
    .fondo__text .contenido__text h2 {
      color: white;
      text-transform: uppercase;
      margin-bottom: 2%;
      text-align: center;
      font-style: italic;
      font-weight: bold;
      font-size: 3em;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-shadow: -4px 3px 0 #242424, -14px 7px 0 #0a0e27; }
    .fondo__text .contenido__text li {
      font-size: 2em;
      color: white;
      font-weight: bold;
      text-align: center;
      list-style: square; }

@media (max-width: 1400px) {
  .fondo__texto .contenido__texto {
    right: 0; }
    .fondo__texto .contenido__texto h1 {
      font-size: 2em; }
    .fondo__texto .contenido__texto p {
      font-size: 1.2em; }
  .fondo__text .contenido__text {
    left: 0; }
    .fondo__text .contenido__text h2 {
      font-size: 2em; }
    .fondo__text .contenido__text li {
      font-size: 1em; } }

@media (max-width: 800px) {
  .table thead {
    display: none; }
  .table tbody, .table tr, .table td {
    display: block;
    width: 100%; }
  .table tr {
    margin-bottom: 15px; }
  .table td {
    text-align: right;
    padding-left: 50%;
    position: relative; }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: left; } }

.contenedor-fondo {
  width: 100%;
  background-color: black;
  margin-top: 1%;
  margin-bottom: 1%;
  box-shadow: 0 5px 10px 5px black; }
  .contenedor-fondo .contenedor {
    max-width: 80vw;
    margin-left: 10%; }
    .contenedor-fondo .contenedor .carousel-inner img {
      height: 70vh; }
    .contenedor-fondo .contenedor .carousel-inner .carousel-caption {
      color: white; }
      .contenedor-fondo .contenedor .carousel-inner .carousel-caption h5 {
        font-size: 2em;
        text-decoration: underline; }
      .contenedor-fondo .contenedor .carousel-inner .carousel-caption p {
        font-size: 1.4em; }

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .banner-container .banner {
    background: #ffd600;
    background: linear-gradient(309deg, #ffd600 0%, #ffd600 25%, black 30%, black 70%, #ffd600 75%, #ffd600 100%);
    border-radius: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px black;
    overflow: hidden; }
    .banner-container .banner .muscle {
      position: relative;
      bottom: -33px;
      padding: 10px;
      flex: 1 1 250px; }
      .banner-container .banner .muscle img {
        width: 85%; }
    .banner-container .banner .logo {
      flex: 1 1 250px;
      padding: 15px;
      text-align: center; }
      .banner-container .banner .logo img {
        width: 95%; }
    .banner-container .banner .content {
      flex: 1 1 250px;
      text-align: center;
      padding: 10px;
      text-transform: uppercase; }
      .banner-container .banner .content .boton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px; }
        .banner-container .banner .content .boton .btn {
          display: block;
          height: 77px;
          width: 300px;
          border-radius: 4px;
          text-transform: uppercase;
          background-color: transparent;
          color: #fff;
          font-size: 18px;
          overflow: hidden;
          transition: all 500ms ease;
          border: 2px solid #ffd900;
          background: black;
          margin-bottom: 40px;
          z-index: 0;
          font-weight: 700;
          cursor: pointer; }
          .banner-container .banner .content .boton .btn a {
            text-decoration: none;
            color: inherit;
            padding: 25px 80px; }
          .banner-container .banner .content .boton .btn ::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            background-color: #fffb00;
            transition: all 500ms ease;
            z-index: -1; }
          .banner-container .banner .content .boton .btn--3:hover {
            animation: shadow-pulse 1000ms 1;
            background-color: #ffee00;
            color: #434343; }
      .banner-container .banner .content span {
        color: white;
        font-size: 25px; }
      .banner-container .banner .content h3 {
        color: white;
        font-size: 40px; }
      .banner-container .banner .content p {
        color: white;
        font-size: 20px;
        padding: 10px 0; }

@media (max-width: 1035px) {
  .banner-container .banner .muscle {
    display: none; } }

.contenedor-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%; }
  .contenedor-staff .container-staff .pic:hover .text {
    height: 60%;
    color: white;
    font-size: 1.5em;
    margin-top: 20px; }
  .contenedor-staff .container-staff .pic {
    position: relative;
    width: 100%;
    overflow: hidden; }
    .contenedor-staff .container-staff .pic .text {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 100%;
      height: 0;
      text-align: center;
      background: rgba(0, 0, 0, 0.9);
      transition: height 0.7s ease-out; }
    .contenedor-staff .container-staff .pic img {
      max-width: 100%;
      max-height: 100%; }

.container__entrenamientos {
  max-width: 80rem;
  width: 100%;
  margin: 0 auto; }
  .container__entrenamientos .btn {
    box-shadow: 0 5px 10px 5px black;
    position: absolute;
    right: 10px;
    bottom: -70px;
    display: block;
    height: 60px;
    width: 280px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #ffffff;
    background: #1a1a1a;
    margin-bottom: 40px;
    font-weight: 900;
    cursor: pointer; }
    .container__entrenamientos .btn ::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      background-color: #ffffff;
      transition: all 500ms ease;
      z-index: -1; }
    .container__entrenamientos .btn--3:hover {
      animation: shadow-pulses 1000ms 1;
      background-color: #ffffff;
      color: #434343; }
    .container__entrenamientos .btn a {
      color: inherit;
      text-decoration: none; }
  .container__entrenamientos img:hover {
    transform: scale(1.1);
    transition: ease 0.2s; }
  .container__entrenamientos .ficha {
    box-shadow: 0 5px 10px 5px black;
    background: linear-gradient(90deg, black 10%, #b9b9b9 50%, black 100%);
    color: black;
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 18rem; }
    .container__entrenamientos .ficha p {
      line-height: 1em;
      font-size: 2em; }
    .container__entrenamientos .ficha img {
      width: 25rem;
      height: 12rem;
      margin-right: 3rem;
      border: 1px solid white; }
  .container__entrenamientos .ficha__2 {
    box-shadow: 0 5px 10px 5px black;
    background: linear-gradient(90deg, black 0%, white 50%, black 100%);
    color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;
    margin-top: 1rem;
    height: 18rem; }
    .container__entrenamientos .ficha__2 p {
      line-height: 28px;
      font-size: 1.7rem;
      margin-right: 25rem; }
    .container__entrenamientos .ficha__2 img {
      width: 25rem;
      height: 12rem;
      border: 1px solid white; }
  .container__entrenamientos .text__ficha {
    margin-left: 2rem; }
    .container__entrenamientos .text__ficha ol li {
      list-style: none;
      margin-top: 1%;
      font-size: 18px; }
    .container__entrenamientos .text__ficha h2 {
      font-size: 2em;
      margin-bottom: 0.2em;
      text-decoration: underline; }

@media (max-width: 1100px) {
  .container__entrenamientos {
    z-index: 1; }
    .container__entrenamientos img {
      display: none; }
    .container__entrenamientos a {
      transform: scale(0.65);
      transition: 2.5s ease; }
    .container__entrenamientos .ficha {
      background: black;
      color: white;
      transition: 2s ease; }
    .container__entrenamientos .ficha__2 {
      background: black;
      color: white;
      transition: 2s ease; } }

@media (max-width: 500px) {
  .container__entrenamientos .btn {
    transform: scale(0.6);
    transition: 2.5s ease;
    right: -25px;
    bottom: -80px; }
  .container__entrenamientos .ficha {
    height: 22rem; }
    .container__entrenamientos .ficha .text__ficha {
      overflow-x: hidden; }
  .container__entrenamientos .ficha__2 {
    height: 22rem; }
    .container__entrenamientos .ficha__2 .text__ficha {
      overflow-x: hidden; } }

@keyframes shadow-pulses {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.973); }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0); } }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(251, 255, 0, 0.973); }
  100% {
    box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0); } }
