/*Entrega pasada del final pasado a Imports via SASS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kaisei HarunoUmi', serif; }

body {
  width: 100%;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: larger; }

.container {
  display: grid;
  grid-template-columns: 6fr 2fr 3fr;
  align-items: center;
  background: #005dff;
  background: linear-gradient(90deg, rgba(0, 93, 255, 0.5) 0%, rgba(236, 250, 5, 0.5) 58%, rgba(3, 255, 3, 0.5) 100%);
  height: 5.5rem; }

ul {
  list-style: none;
  display: flex; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

ul li a {
  padding: 2rem;
  font-weight: bold; }

.nav-ul li a:hover {
  color: #ff3c01;
  background-color: white;
  transition: 350ms ease;
  border: 1px solid black;
  opacity: 60%; }

#nav-bar {
  overflow: hidden; }

.logo img {
  height: 5.5rem;
  width: 9rem; }

.logo2 img {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 4rem; }

.footer {
  background: rgba(0, 0, 0, 0.918);
  position: fixed;
  opacity: 85%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 150px;
  bottom: 0; }

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 80%; }

.footer-content h3 {
  text-transform: capitalize; }

.footer-content p {
  max-width: 500px;
  font-size: 14px; }

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.socials li {
  margin-top: 1%;
  margin-right: 25%; }

.socials li:hover {
  transform: scale(2);
  transition: ease 0.2s; }

.socials a:hover i {
  color: #00ffe5; }

.socials a {
  text-decoration: none;
  color: white; }

.socials a i {
  transition: color .4s ease; }

.footer-bottom {
  background: black;
  text-align: center;
  height: 20%; }

.foooter-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200; }

.formulario {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 5%; }

.datos {
  background: white;
  margin-left: 20%;
  margin-top: 1%;
  width: 50%;
  padding-left: 5%;
  padding-bottom: 1%;
  border-style: groove; }

.button {
  color: white;
  background-color: orangered;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px;
  cursor: pointer; }

.turnos1 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center; }

.turnos-contenido {
  background: white;
  margin-left: 20%;
  margin-top: 3%;
  width: 150%;
  padding-bottom: 1%;
  border-radius: 10px; }

.content-table {
  border-collapse: collapse;
  margin: 0.5% 13%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.content-table thead tr {
  background-color: #0a3f34;
  color: white;
  text-align: center;
  font-weight: bold; }

.content-table th,
.content-table td {
  padding: 20px 40px; }

.content-table tbody tr {
  border-bottom: 1px solid gray; }

.content-table tbody tr:nth-of-type(even) {
  background-color: #e2dcdc; }

.content-table tbody tr:last-of-type {
  border-bottom: 4px solid #0a3f34; }

.titulo-tabla {
  text-align-last: center;
  color: orangered;
  text-decoration: underline; }

.cont {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  padding-left: 5%;
  margin-top: 2%;
  padding-right: 5%;
  max-height: 41rem; }

.empty-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.7);
  max-height: 40%; }

.empty-card img {
  transition: ease 0.2s; }

.empty-card img:hover {
  transform: skewX(-10deg);
  border: 2px solid #33af14; }

.portada-inicio {
  display: flex;
  margin-top: 1%;
  margin-left: 5%; }

.titulo-inicio {
  position: relative;
  color: white;
  text-shadow: 3px 4px 4px black;
  font-size: 100px;
  text-decoration: underline; }

.texto-inicio {
  position: relative;
  color: white;
  text-shadow: 3px 4px 4px black;
  margin-top: 1%;
  margin-bottom: 2%; }

.container-staff {
  margin-left: 32%;
  margin-top: 1%;
  border: 0px solid #3182b8;
  max-width: 32%; }

.pic {
  position: relative;
  width: 100%;
  overflow: hidden; }

.pic img {
  max-width: 100%;
  max-height: 100%; }

.text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 0;
  text-align: center;
  background: rgba(39, 199, 138, 0.8);
  transition: height 0.7s ease-out; }

.pic:hover .text {
  height: 60%;
  color: white;
  font-size: 1.5em; }

/* Nueva Seccion de 0 via SASS */
