.main__alumnos {
	background-color: rgba(0, 0, 0, 0.795);
	h1 {
		color: white;
		text-transform: uppercase;
		margin-bottom: 2%;
		text-align: center;
		font-weight: bold;
		font-size: 4em;
		font-family: Georgia, 'Times New Roman', Times, serif;
		text-shadow: -4px 3px 0 #242424, -14px 7px 0 #1b1b1b;
		margin-top: 2%;
		text-decoration: underline;
	}
	.contenedor__tabla {
		.table{
			width: 100%;
			border-collapse: collapse;
			margin-top: 2%;
			font-size: 20px;
			box-shadow: 0 5px 10px black;
			background: linear-gradient(309deg, rgb(153, 150, 0) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgb(153, 150, 0) 100%);
			td,th{
				padding: 12px 15px;
				border: 2px solid rgb(255, 255, 255);
				text-align: center;
				font-weight: bold;
			}
			th{
				color:#979797;
				text-decoration: wavy;
				font-size: 25px;
			}
			tbody tr:nth-child(even){
				color: #02ff02;
				:hover {
					background-color: #02ff028c;
				}
			}
			tbody tr:nth-child(odd){
				color: red;
				:hover {
					background-color: rgba(255, 0, 0, 0.418);
				}
			}
			th:hover,td:hover,tr:hover {
				transition: 0.2s ease;
			}
		}
		.informacion__tabla {
			transform: skewY(-5deg);
			position: relative;
			background: linear-gradient(309deg, rgb(153, 150, 0) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgb(153, 150, 0) 100%);
			margin-top: 8rem;
			padding: 7%;
			border-bottom: 2px solid white;
			border-top: 2px solid white;
			.informacion__texto {
				transform: skewY(5deg);
				max-width: 50rem;
				right: 20rem;
				margin: 0 auto;
				position: relative;
				.rojo {
					color: red;
				}
				.verde {
					color: #02ff02;
				}
				h2 {
					color: white;
					text-transform: uppercase;
					margin-bottom: 2%;
					text-align: center;
					font-style: italic;
					font-weight: bold;
					font-size: 3em;
					font-family: Georgia, 'Times New Roman', Times, serif;
					text-shadow: -4px 3px 0 #242424, -14px 7px 0 #1b1b1b;
				}
				p {
					font-size: 1.4em;
					color: white;
					font-weight: bold;
				}
			}
		}
		.cursos__tabla {
			transform: skewY(-5deg);
			position: relative;
			background: linear-gradient(309deg, rgb(153, 150, 0) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 65%, rgb(153, 150, 0) 100%);
			margin-bottom: 8rem;
			padding: 7%;
			border-bottom: 2px solid white;
			box-shadow: 0 5px 10px black;
			.cursos__texto {
				transform: skewY(5deg);
				max-width: 50rem;
				left: 20rem;
				margin: 0 auto;
				position: relative;
				overflow: hidden;
				h3 {
					color: white;
					text-transform: uppercase;
					margin-bottom: 2%;
					text-align: center;
					font-style: italic;
					font-weight: bold;
					font-size: 3em;
					font-family: Georgia, 'Times New Roman', Times, serif;
					text-shadow: -4px 3px 0 #242424, -14px 7px 0 #1b1b1b;
				}
				li {
					font-size: 2em;
					color: white;
					font-weight: bold;
					text-align: center;
					list-style: square;
				}
			}
		}
	}
}







@media(max-width: 1400px) {
	.main__alumnos {
		h1 {
			font-size: 2em;
		}
		.contenedor__tabla {
			.informacion__tabla {
				.informacion__texto {
					right: 0;
					h2 {
						font-size: 2em;
					}
					p {
						font-size: 1.2em;
					}
				}
			}
			.cursos__tabla {
				.cursos__texto {
					left: 0;
					h3 {
						font-size: 2em;
					}
					li {
						font-size: 1em;
					}
				}
			}
		}
	}
}




@media(max-width: 800px){
	.main__alumnos{
		.contenedor__tabla {
			.table {
				thead{
					display: none;
				}
				tbody, tr, td{
					display: block;
					width: 100%;
				}
				tr{
					margin-bottom:15px;
				}
				td{
					text-align: right;
					padding-left: 50%;
					position: relative;
				}
				td::before{
					content: attr(data-label);
					position: absolute;
					left: 0;
					width: 50%;
					padding-left: 5px;
					font-size: 20px;
					font-weight: bold;
					text-align: left;
				}
			}
		}
	}
}