.container {
    .row {
        display: flex;
        justify-content: left;
        .col-25 {
            color: white;
            float: left;
            width: 25%;
            margin-top: 6px;
            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
                font-size: 1.5em;
                text-decoration: underline;
            }
        }
        input[type=text], select, textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }
        input[type=submit] {
            background-color: #000000;
            color: yellow;
            padding: 12px 20px;
            margin-top: 1rem;
            margin-left: 25%;
            border: 3px solid yellow;
            border-radius: 4px;
            cursor: pointer;
            max-width: 50%;
        }
    }
}

@media(max-width: 1035px) {
    .container {
        position: relative;
        .row {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
                label {
                    font-size: 20px;
                }
            }
        }
    }
} 
