.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .banner {
        background: linear-gradient(307deg, rgba(2,136,225,1) 7%, rgba(15,126,177,1) 29%, rgba(255,255,255,1) 47%, rgba(199,199,199,1) 64%, rgba(242,99,1,1) 82%, rgba(242,99,1,1) 82%);
        border-radius: 100px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0 5px 10px black;
        overflow: hidden;
        width: 85%;
        .muscle {
            position: relative;
            bottom: -33px;
            padding: 10px;
            flex: 1 1 250px;
            img {
                width: 85%;
            }
        }
        .logo {
            flex: 1 1 250px;
            text-align: center;
            img {
                width: 70%;
            }
        }
        .content {
            flex: 1 1 250px;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
            .boton {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;
                .btn {
                    display: block;
                    height: 77px;
                    width: 300px;
                    border-radius: 4px;
                    text-transform: uppercase;
                    background-color: transparent;
                    color: #B5000B;
                    font-size: 18px;
                    overflow: hidden;
                    transition: all 500ms ease;
                    border: 2px solid #5a0006;
                    background: white;
                    margin-bottom: 40px;
                    z-index: 0;
                    font-weight: 700;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color: inherit;
                        padding: 25px 80px;
                    }
                    ::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        margin: auto;
                        background-color: #B5000B;
                        transition: all 500ms ease;
                        z-index: -1;
                    }
                    &--3:hover {
                        animation: shadow-pulse 1000ms infinite;
                        background-color: #B5000B;
                        color: white;
                    }
                }
            }
            h1 {
                color: black;
                font-size: 25px;
            }
            h2 {
                color: black;
                font-size: 40px;
            }
            p {
                color: black;
                font-size: 20px;
                padding: 10px 0;
            }
        }
    }
}

@media (max-width: 1035px) {
    .banner-container .banner .muscle {
        display: none;
    }
}
