.container {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.918);
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    opacity: 95%;
    padding: 20px;
    color: white;
    .row {
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
                font-size: 1.5em;
                text-decoration: underline;
            }
        }
        input[type=text], select, textarea{
            width: 100%;
            padding: 12px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 4px;
            box-sizing: border-box;
            resize: vertical;
        }
        input[type=submit] {
            background-color: #000000;
            color: yellow;
            padding: 12px 20px;
            margin-top: 1rem;
            margin-left: 25%;
            border: 3px solid yellow;
            border-radius: 4px;
            cursor: pointer;
            max-width: 50%;
        }
    }
}

@media screen and (max-width: 1035px) {
    .container {
        z-index: -1;
    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
} 
