.portada-inicio {
    display: flex;
    margin-top: 1%;
    margin-left: 5%;
}

.titulo-inicio {
    position: relative;
    color: white;
	text-shadow: 3px 4px 4px black;
	font-size: 100px;
    text-decoration: underline;
}

.texto-inicio {
    position: relative;
    color: white;
    text-shadow: 3px 4px 4px black;
    margin-top: 1%;
    margin-bottom: 2%;
}