.container-staff {
    margin-left: 32%;
    margin-top: 1%;
    border: 0px solid rgb(49, 130, 184);
    max-width: 32%;
    .pic:hover .text {
        height: 60%;
        color: white;
        font-size: 1.5em;
    }
    .pic {
        position: relative;
        width: 100%;
        overflow: hidden;
        .text {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            max-width: 100%;
            height: 0;
            text-align: center;    
            background: rgba(39, 199, 138, 0.8);
            transition: height 0.7s ease-out;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}







