.turnos1 {
    box-shadow: 0 5px 10px 5px black;
    z-index: -1;
    position: relative;
    background-color: black;
    opacity: 95%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    justify-content: center;
    display: flex;
    align-content: center;
    .turnos-contenido {
        display: inline-block;
        table {
            border-collapse: collapse;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            thead tr {
                background-color: rgb(10, 63, 52);
                color: rgb(255, 255, 255);
                text-align: center;
                font-weight: bold;
            }
            th, td{
                padding:20px 40px;
            }
            tbody tr {
                border-bottom: 1px solid gray;
            }
            tbody tr:nth-of-type(even) {
                background-color: #a7a7a7;
            }
            tbody tr:nth-of-type(odd) {
                background-color: #ffffff;
            }
            tbody tr:last-of-type {
                border-bottom: 4px solid rgb(10, 63, 52);
            }
        }
    }
}

