.contenedor-fondo {
    width: 100%;
    background-color: black;
    margin-top: 1%;
    margin-bottom: 1%;
    .contenedor {
        max-width: 80vw;
        margin-left: 10%;
        .carousel-inner {
            img {
                height: 70vh;
            }
            .carousel-caption {
                color: rgb(255, 255, 255);
                h5 {
                    font-size: 2em;
                    text-decoration: underline;
                }
                p {
                    font-size: 1.4em;
                }
            }
        }
    }
}

@media (max-width: 1060px) {
    .contenedor-fondo {
        z-index: -1;
    }
}