* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

body {
    width: 100%;
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.918);
    border: 2px solid black;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    padding: 20px;
}

@media (max-width:1500px) {
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
}